
SedolCheckerSampleRunner/bin/Debug/netcoreapp3.1/SedolChecker.dll
*.pdb
*.dll
*.exe
*.cache
*.targets
SedolCheckerTest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SedolCheckerTest/bin/Debug/netcoreapp3.1/SedolCheckerTest.runtimeconfig.json
SedolCheckerTest/bin/Debug/netcoreapp3.1/CoverletSourceRootsMapping
SedolCheckerTest/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
SedolCheckerTest/bin/Debug/netcoreapp3.1/SedolCheckerTest.deps.json
SedolCheckerTest/bin/Debug/netcoreapp3.1/SedolCheckerTest.runtimeconfig.dev.json
SedolCheckerTest/obj/Debug/netcoreapp3.1/SedolCheckerTest.AssemblyInfo.cs
SedolCheckerTest/obj/Debug/netcoreapp3.1/SedolCheckerTest.csproj.CopyComplete
SedolCheckerTest/obj/Debug/netcoreapp3.1/SedolCheckerTest.csproj.FileListAbsolute.txt
SedolCheckerTest/obj/project.assets.json
SedolCheckerTest/obj/SedolCheckerTest.csproj.nuget.dgspec.json
SedolCheckerTest/obj/SedolCheckerTest.csproj.nuget.g.props
.vs/SedolChecker/v16/.suo
.vs/SedolChecker/v16/TestStore/0/001.testlog
.vs/SedolChecker/v16/TestStore/0/testlog.manifest
SedolChecker/bin/Debug/netcoreapp3.1/SedolChecker.deps.json
SedolChecker/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SedolChecker/obj/Debug/netcoreapp3.1/SedolChecker.AssemblyInfo.cs
SedolChecker/obj/Debug/netcoreapp3.1/SedolChecker.csproj.FileListAbsolute.txt
SedolChecker/obj/project.assets.json
SedolChecker/obj/SedolChecker.csproj.nuget.dgspec.json
SedolChecker/obj/SedolChecker.csproj.nuget.g.props
SedolCheckerSampleRunner/bin/Debug/netcoreapp3.1/SedolCheckerSampleRunner.deps.json
SedolCheckerSampleRunner/obj/SedolCheckerSampleRunner.csproj.nuget.g.props
SedolCheckerSampleRunner/obj/SedolCheckerSampleRunner.csproj.nuget.dgspec.json
SedolCheckerSampleRunner/obj/project.assets.json
SedolCheckerSampleRunner/obj/Debug/netcoreapp3.1/SedolCheckerSampleRunner.csproj.FileListAbsolute.txt
SedolCheckerSampleRunner/obj/Debug/netcoreapp3.1/SedolCheckerSampleRunner.csproj.CopyComplete
SedolCheckerSampleRunner/obj/Debug/netcoreapp3.1/SedolCheckerSampleRunner.AssemblyInfo.cs
SedolCheckerSampleRunner/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SedolCheckerSampleRunner/bin/Debug/netcoreapp3.1/SedolCheckerSampleRunner.runtimeconfig.json
SedolCheckerSampleRunner/bin/Debug/netcoreapp3.1/SedolCheckerSampleRunner.runtimeconfig.dev.json
